/* Styles used throughout the entire web site */

html {
    /* font-size 62.5% makes 1rem equal 10px for easy size calculations. */
    font-size: 62.5%;
    font-family: Calibri, Arial, sans-serif;
    background-color: #EAEEFA;
    height: 100%;
  
   
}

body {
    height: 100%;
    margin: 0;
    /* Default font-size to about 18px */
    font-size: 1.8rem;
}

input, button {
    margin: 0;    
    font-size: 1.8rem;
    font-family: Calibri, Arial, sans-serif;
}

.container {
    padding: 0 1rem;
   max-width: 94rem; 
    /* Horizontally center containers */
    margin: 0 auto;
}

section.page-section .container {
    padding-bottom: 2rem;
}

h1 {
    font-size: 4rem;
    letter-spacing: -1px;
    margin: 1em 0 .25em 0;
}
  .es  
{
    background-color: lemonchiffon;
 
}
  .en 
{
    background-color: lemonchiffon;
}

.visible {
    display: block;
}
.novisible {
    display: none ;
}
nav {
    background-color: #1d1d1d;
    line-height: 6rem;
    font-size: 1.7rem;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    }

nav a {
    color: #fff;
    padding: 1rem;
}
#siguiente {
    flex:1;
    text-align: right;
    
}
#anterior {
    flex:1;
    text-align: left;
   
}